@model IEnumerable<MonsBarberStudio.Models.Cita>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdCita)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdBarbero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreBarbero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdServicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreServicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEstado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreEstado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observaciones)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCreacion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdCita)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdBarbero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreBarbero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdServicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreServicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEstado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreEstado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observaciones)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCreacion)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
